.app-title {
  text-align: center;
}

.todoapp {
  width: 40%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: slategray;
  padding: 40px;
}

.header {
  width: 100%;
  position: relative;
}

#input-new-todo {
  width: 70%;
  font-size: 30px;
}
